* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.calculator {
    border-radius: 10px;
    border: 3px solid black;
    width: 350px;
    background-color: #676e74;
}

.screen {
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    min-height: 100px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: right;
    font-size: 30px;
    background-color: #fefefe;
    word-wrap: break-word;
}

.prevScreen {
    min-height: 50px;
    font-size: 20px;
    right: 0;
    bottom: 50%;
    padding-right: 10px;
}

.currScreen {
    font-size: 25px;
    right: 0;
    bottom: 0;
    padding-right: 10px;
}

.del {
    text-align: center;
}

.del button {
    width:130px;
    height: 50px;
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    gap: 15px;
    row-gap: 10px;
}

.grid button {
    border-radius: 5px;
    border: 3px solid black;
    height: 60px;
    width: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 30px;
    font-weight: 600;
}
