html, body {
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    height: 15%;
}

.main {
    display: flex;
    justify-content: center;
}

.calculator {
    display: grid;
    border-radius: 10px;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    width: 350px;
}

.screen {
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
    text-align: right;
    height: 100px;
    width: 300px;
    margin: 20px;
    font-size: 30px;
}

.prevScreen {
    position: absolute;
    right: 0;
    bottom: 50%;
    padding-right: 10px;
}

.currScreen {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 10px;
}

.del {
    text-align: center;
}

.del button {
    width:140px;
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px;
    gap: 15px;
    row-gap: 10px;
}

.grid button {
    border: 3 px solid black;
    height: 60px;
    width: 60px;
}